[submodule "whitelist-transfer-hook"]
	path = whitelist-transfer-hook
	url = git@github.com:mercy-dapps/whitelist-transfer-hook.git

[submodule "magicblock-er-example"]
	path = magicblock-er-example
	url = git@github.com:mercy-dapps/magicblock-randomness.git

[submodule "accel-1-challenge"]
	path = accel-1-challenge
	url = https://github.com/mercy-dapps/accel-challenge-1.git

[submodule "escrow-litesvm"]
	path = escrow-litesvm
	url = git@github.com:mercy-dapps/escrow-litesvm.git

[submodule "escrow_with_tuktuk"]
	path = escrow_with_tuktuk
	url = https://github.com/mercy-dapps/escrow-with-tuktuk.git
